/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
	font-family: 'Montserrat', sans-serif;
	color: #444444;
	scroll-behavior: smooth;
}


body {
	color: #444444;
	line-height: 1.5;
	background-color:#F6F1EB;
	margin: 0 0 0 0;
}

main {
	margin: auto;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	width: 80%;
	align-items: center;
	max-width: 1500px;
	margin: auto;
}

.section-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 3%;
	margin-bottom: 5rem;
}


.card {
    text-decoration: none;
  }



  .thumbnail-image:hover {
	box-shadow: 3px 3px 20px #e0dcd5;;
  }

  .thumbnail-image {
	width: 100%;
	background-color: grey;
	border-radius: 5px;
	transition: ease-out 0.2s;

  }

/*
body {
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 20px;
	
	text-align: left;
	background-color: #ffffff44;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #000000;
	border: magenta 2px dotted;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}
a {
	color: #3273dc;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
} */
