---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
---

<!DOCTYPE html>
<html lang="no">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<Header title={SITE_TITLE} />
		<main>

			<div id="3d_avatar"></div>
			<h1>Alexander Fjellheim</h1>
			<section>
				<h2>
					Hei! Jeg er en datateknologi-student ved Universitetet i Bergen med et bredt spektrum av interesser innen teknologi.
				</h2>

				<p>
					I forbindelse med oppdraget jeg fikk fra UiB til å utvikle teknologien til designstudenters bachelorprosjekter, og deres utstillingsinstallasjoner på Universitetsmuseet, har jeg hatt muligheten til å bygge på min erfaring og bruke mine interesser innen:
				</p>
		
				<ul>
					<li>Computer Vision inference og YOLO-modeller</li>
					<li>Tensorflow og Torch</li>
					<li>Edge compute: Coral Ai TPU og Raspberry PI, CUDA og TensorRT</li>
					<li>Front-end UI: JS/CSS SPA, og TKinter</li>
					<li>Back-end server med Flask</li>
					<li>Systemd og automatisering av prosesser i GNU/Linux</li>
					<li>Forskjellige former for brukerinteraksjon bl.a touchskjermer og arcadeknapper, og brukertesting</li>
					<li>Finne løsninger til å ta idéer og prototyper til et helhetlig produkt</li>
					<li>CAD-design og 3D-printing samt lodding og programmering av mikrokontrollere.</li>
				</ul>

				<p>
					Jeg har tidligere vært en utvikler hos Studvest hvor jeg fikk masse nyttig kunnskap og erfaring med gjennomføring av prosjekter og samarbeidsstrategier:
				</p>
				<ul>
					<li>Scrum-metodikk</li>
					<li>Parprogrammering</li>
					<li>Klar kommunikasjon og informasjonsdeling via: Teams og Miro</li>
					<li>Git feature-branches og håndtering av pull-requests</li>
					<li>Git-actions til å automatisere Build og Deployment av dev- og master-branches</li>
					<li>Bruk av designsystemer og tilgjenglighetsprinsippet WCAG</li>
					<li>Grunnleggende forståelse for SEO og Open Graph</li>
					<li>Lightweight rammeverk som bl.a Astro.js og optimaliseringsteknikker</li>
				</ul>

				<p>
					Innen front-end er jeg spesielt interesert i engasjerende 3D visualiseringer og bruk av webgl for å skape unike brukeropplevelser i nettleser med THREE.js. I det siste har jeg også fått en interesse for brukerinteraksjon i XR, etter å ha lest Eirik Helland Urkes bok om VR og AR, og kjøpt en Meta Quest 3.
				</p>
				
				<p>
					Prosjektene for UiB MIX250 og Studvest har gitt meg mange gode erfaringer i å samarbeide med UI/UX-designere og jeg liker å kunne utveksle kunnskap på tvers av felt og spesialiseringer.
				</p>

				<h3>Fritid</h3>

				<p>
					På fritiden er jeg alltid på utkikk etter å lære, og teste interesante verktøy og teknologier, noe jeg fikk muligheten til gjennom UiB MIX250 oppdraget.
				</p>
	
				<p>
					Jeg har også andre hobbier som: 3D-design og 3D-printing, eksperimentering med Linux og VMs, PC og VR-gaming, og jeg bygger nå for tiden en Homelab/hjemmeserver.
				</p>

			

			</section>
			<Contact />
		</main>
		<Footer />
	</body>

	<style>

	</style>


	<script src="../scripts"></script>
</html>
