---
export interface Props {
  src: any;
  title: string;
  href: string;
  category?: string;
}
const { src, title, href, category } = Astro.props;
---

<a class="card" href={href}>
    <img class="thumbnail-image" src={src} />
    <span class="title">{title}{category}</span>
</a>