---
export interface Props {
  src: any;
  title: string;
  href: string;
}
const { src, title, href } = Astro.props;
---

<a class="card" href={href}>
    <img class="image" src={src} />
    <span class="title">{title}</span>
</a>

<style>
  .card {
    text-decoration: none;
    color: black;
    vertical-align: top;
    display: inline-block;

    padding-bottom: 1%;
    width: 23%;
  }

  img:hover {
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
  }

  img {
    width: 100%;

    background-color: grey;
    border-radius: 5px;
  }

</style>
