---
export interface Props {

}
const { } = Astro.props;
---
<div class="contact" id="contact">
    <h5>Ta kontakt med meg ✌️</h5>
    <a href="mailto:alexfjellheim98@gmail.com">alexfjellheim98@gmail.com</a> 
</div>

<div>
    <a href="https://github.com/AlexanderFjellheim"><img src="/github.png" alt="github logo"></a>
    <a href="https://linkedin.com/in/alexander-fjellheim-a238a5230"><img src="/linkedin.png"></a>
</div>


<style>
    h5 {
        margin-bottom: 0.5em;
        font-size: 1.5em;
    }
    img {
        margin-top: 1.5em;
        margin-right: 0.5em;
        margin-bottom: 1.5em;
    }
    .contact a {
        filter: none;
        color: orange;
    }

    a {
        filter: invert();
    }
</style>