---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>


	<nav>
		<HeaderLink href="/">
			<div class="home">
				{SITE_TITLE}
			</div>
		</HeaderLink>
		

		<HeaderLink href="/blog">
			My works
		</HeaderLink>
		
		<HeaderLink href="/about">
			About
		</HeaderLink>
		
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
			Twitter
		</HeaderLink>
		
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">
			GitHub
		</HeaderLink>

		<HeaderLink href="/contact">
			Contact me
		</HeaderLink>
	</nav>
</header>
<style>
	header {
		background-color: #F6F1EB;
		position: sticky;
		height: 4.5em;
		box-shadow: 1px 5px 40px #ebe7e1;
/* 		padding: 0;
		margin: 0; 
		width: 100vw;
		border: 2px red dotted;*/
		
	}
	h2 {
		margin: 0.5em 0;
	}

	nav {
		top: 0;
		height: inherit;
		display: flex;
		gap: 5%;
		justify-content: center;
		align-items: center;
		
	}
</style>
